:root {
  --toolbox-after-color: ThreeDShadow;

  --tab-background: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,45%,.2) 2px, hsla(0,0%,32%,.2) 80%);
  --tab-background-hover: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%);
  --tab-border-radius: 6px;
  --tab-box-shadow: inset 0.5px 1px 1px var(--tab-selected-highlight);
  --tab-selected-highlight: rgba(255,255,255,.8);
}

#toolbar-menubar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  list-style-image: none !important;
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-box-align: start;
  /* Make sure the window controls are always last on the toolbar */
  -moz-box-ordinal-group: 100;
  margin-inline-start: 4px;
}

#minimize-button,
#restore-button,
#close-button {
  -moz-appearance: none;
  border-style: none;
  list-style-image: url("chrome://global/skin/icons/windowControls.png");
  margin: 0;
  padding: 0;
}

#minimize-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#minimize-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}

#minimize-button:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}

#restore-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#restore-button:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#restore-button:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

#close-button {
  -moz-image-region: rect(0, 49px, 16px, 32px);
}

#close-button:hover {
  -moz-image-region: rect(16px, 49px, 32px, 32px);
}

#close-button:hover:active {
  -moz-image-region: rect(32px, 49px, 48px, 32px);
}

#minimize-button:-moz-locale-dir(rtl),
#restore-button:-moz-locale-dir(rtl),
#close-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #toolbar-menubar[autohide="false"] ~ #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-16.png") center no-repeat;
  width: 40px;
}